{% if IMAGEUPLOAD_USE_UPLOAD and IMAGEUPLOAD_MCHAT_ENABLE and not IMAGEUPLOAD_CENTER_ENABLE	%}
<button	class="button" class="button2" onclick="window.open ('{{ U_IMAGEUPLOAD_UPLOAD }}'); return false;" value="{{ lang('IMAGEUPLOAD_UPLOAD_SECTION') }}" title="{{ lang('IMAGEUPLOAD_UPLOAD_SECTION') }}" />
<i class="icon fa fa-image" aria-hidden="true"></i><span class="sr-only">{{ lang('IMAGEUPLOAD_UPLOAD_SECTION') }}</span>
</button>
{% elseif IMAGEUPLOAD_USE_UPLOAD and IMAGEUPLOAD_MCHAT_ENABLE and IMAGEUPLOAD_CENTER_ENABLE %}
{% INCLUDEJS '@dmzx_imageupload/js/popup.center.js' %}
<button	class="button" class="button2" onclick="popup_center('{{ U_IMAGEUPLOAD_UPLOAD }}'); return false;" value="{{ lang('IMAGEUPLOAD_UPLOAD_SECTION') }}" title="{{ lang('IMAGEUPLOAD_UPLOAD_SECTION') }}" />
<i class="icon fa fa-image" aria-hidden="true"></i><span class="sr-only">{{ lang('IMAGEUPLOAD_UPLOAD_SECTION') }}</span>
</button>
{% endif %}

