{% if IMAGEUPLOAD_USE_UPLOAD %}
<script>
var imageUpload = {
	max_filesize					: '{{ IMAGEUPLOAD_MAX_FILESIZE | escape('js') }}',
	imageupload_enable_direct_link	: {{ IMAGEUPLOAD_ENABLE_DIRECT_LINK ? 'true' : 'false' }},
	imageupload_enable_url_link		: {{ IMAGEUPLOAD_ENABLE_URL_LINK ? 'true' : 'false' }},
	imageupload_enable_img_link		: {{ IMAGEUPLOAD_ENABLE_IMG_LINK ? 'true' : 'false' }},
	imageupload_enable_url_img_link	: {{ IMAGEUPLOAD_ENABLE_URL_IMG_LINK ? 'true' : 'false' }},

	lang: {
		uploadBy					: '{{ IMAGEUPLOAD_INFORMATION | replace({" ":"-"}) }}',
		closed						: '{{ lang('IMAGEUPLOAD_CLOSED') | escape('js') }}',
		copy						: '{{ lang('IMAGEUPLOAD_COPY') | escape('js') }}',
	}
};
</script>

{% if not definition.INCLUDED_SWEETALERT2ALLMINJS %}
	{% INCLUDEJS '@dmzx_imageupload/js/sweetalert2.all.min.js' %}
	{% DEFINE INCLUDED_SWEETALERT2ALLMINJS = true %}
{% endif %}

{% INCLUDEJS '@dmzx_imageupload/js/copy.js' %}
{% INCLUDEJS '@dmzx_imageupload/js/scriptinfo.js' %}
{% endif %}

{% if IMAGEUPLOAD_USE_UPLOAD and IMAGEUPLOAD_POST_ENABLE and IMAGEUPLOAD_CENTER_ENABLE %}
<script>
//Open center window
	function popup_center(e) {
		var h = 700,
		w = 700;
		window.open(e, '', 'scrollbars=1, menubar=no, toolbar=no, location=no, height='+Math.min(h, screen.availHeight)+',width='+Math.min(w, screen.availWidth)+',left='+Math.max(0, (screen.availWidth - w)/2)+',top='+Math.max(0, (screen.availHeight - h)/2));
	}
</script>
{% endif %}
