<dl>
	<dt>
		<label for="imageupload_ucp_index_enable1">{L_IMAGEUPLOAD_UPC_INDEX}{L_COLON}</label>
	</dt>
	<dd>
		<label for="imageupload_ucp_index_enable1"><input type="radio" name="imageupload_ucp_index_enable" id="imageupload_ucp_index_enable1" value="1"<!-- IF S_UCP_IMAGEUPLOAD_INDEX --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
		<label for="imageupload_ucp_index_enable0"><input type="radio" name="imageupload_ucp_index_enable" id="imageupload_ucp_index_enable0" value="0"<!-- IF not S_UCP_IMAGEUPLOAD_INDEX --> checked="checked"<!-- ENDIF --> /> {L_NO}</label>
	</dd>
</dl>