<dl>
	<dt>
		<label for="imageupload_ucp_index_enable1">{{ lang('IMAGEUPLOAD_UPC_INDEX') }}{{ lang('COLON') }}</label>
	</dt>
	<dd>
		<label for="imageupload_ucp_index_enable1"><input type="radio" name="imageupload_ucp_index_enable" id="imageupload_ucp_index_enable1" value="1"{% if S_UCP_IMAGEUPLOAD_INDEX %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
		<label for="imageupload_ucp_index_enable0"><input type="radio" name="imageupload_ucp_index_enable" id="imageupload_ucp_index_enable0" value="0"{% if not S_UCP_IMAGEUPLOAD_INDEX %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
	</dd>
</dl>