{% INCLUDECSS 'css/acp_imageupload.css' %}
{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('ACP_IMAGE_UPLOAD') }}</h1>

<p><img src="https://img.shields.io/badge/{{ lang('Version') }}-{{ ACP_IMAGEUPLOAD_VERSION }}-green.svg?style=plastic" /></p>

<form id="acp_imageupload" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_IMAGE_UPLOAD_CONFIGURATION') }}</legend>
		<dl>
			<dt><label for="imageupload_enable">{{ lang('ACP_IMAGEUPLOAD_ENABLE') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('ACP_IMAGEUPLOAD_ENABLE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="imageupload_enable" value="1"{% if ACP_IMAGEUPLOAD_ENABLE %} id="imageupload_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="imageupload_enable" value="0"{% if not ACP_IMAGEUPLOAD_ENABLE %} id="imageupload_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt>
				<label for="imageupload_number">{{ lang('ACP_IMAGEUPLOAD_NUMBER') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('ACP_IMAGEUPLOAD_NUMBER_EXPLAIN') }}<br />{{ ACP_IMAGEUPLOAD_ALLOWED_SIZE }}</span>
			</dt>
			<dd>
				<input type="number" name="imageupload_number" id="imageupload_number" size="4" maxlength="4" min="1" max="5000" value="{{ ACP_IMAGEUPLOAD_NUMBER }}" />
			</dd>
		</dl>
		<dl>
			<dt>
				<label>{{ lang('ACP_IMAGEUPLOAD_EXT') }}{{ lang('COLON') }}</label><br>
				<span>{{ lang('ACP_IMAGEUPLOAD_EXT_EXPLAIN') }}</span>
			</dt>
			<dd>
				<textarea name="imageupload_allowed_extensions" rows="1" cols="20" style="width: 30%;">{{ ACP_IMAGEUPLOAD_EXT }}</textarea>
			</dd>
		</dl>
		<dl>
			<dt><label for="imageupload_index_enable">{{ lang('ACP_IMAGEUPLOAD_INDEX_ENABLE') }}{{ lang('COLON') }}</label><br />
				<span>{{ lang('ACP_IMAGEUPLOAD_INDEX_ENABLE_EXPLAIN') }}</span>
			</dt>
			<dd>
				<label><input type="radio" class="radio" name="imageupload_index_enable" value="1"{% if ACP_IMAGEUPLOAD_INDEX_ENABLE %} id="imageupload_index_enable" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="imageupload_index_enable" value="0"{% if not ACP_IMAGEUPLOAD_INDEX_ENABLE %} id="imageupload_index_enable" checked="checked"{% endif %} /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		{% if IMAGEUPLOAD_CHAT_VIEW %}
		<dl>
			<dt><label>{{ lang('ACP_IMAGEUPLOAD_CHAT_ENABLE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_IMAGEUPLOAD_CHAT_ENABLE_EXPLAIN') }}</span></dt>
			<dd>
				<label><input name="imageupload_chat_enable" type="radio" {% if ACP_IMAGEUPLOAD_CHAT_ENABLE %} checked="checked"{% endif %} class="radio" value="1" /> {{ lang('YES') }}</label>
				<label><input name="imageupload_chat_enable" type="radio" {% if not ACP_IMAGEUPLOAD_CHAT_ENABLE %} checked="checked"{% endif %} class="radio" value="0" /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		{% endif %}
	</fieldset>
	<fieldset>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
			{{ S_FORM_TOKEN }}
		</p>
	</fieldset>
	{% if loops.images|length %}
	{% if loops.pagination|length or ACP_TOTAL_IMAGES %}
	<div class="pagination">
		{{ ACP_TOTAL_IMAGES }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
	<div class="clear"></div>
	<table cellspacing="1">
		<thead>
			<tr>
				<th>{{ lang('ACP_IMAGEUPLOAD_TITLE') }}</th>
				<th>{{ lang('ACP_IMAGEUPLOAD_PREVIEW') }}</th>
				<th>{{ lang('ACP_IMAGEUPLOAD_TITLE_REAL') }}</th>
				<th>{{ lang('ACP_IMAGEUPLOAD_USERNAME') }}</th>
				<th>{{ lang('ACP_IMAGEUPLOAD_WIDTH_HEIGHT') }}</th>
				<th>{{ lang('ACP_IMAGEUPLOAD_SIZE') }}</th>
				<th style="text-align: center;">{{ lang('MARK') }}</th>
			</tr>
		</thead>
		<tbody>
		{% for images in loops.images %}
			{% if images.S_ROW_COUNT is even %}<tr class="row1">{% else %}<tr class="row2">{% endif %}
				<td valign="top">{{ images.FILENAME }}</td>
				<td class="imageupload-preview"><img src="{{ images.IMAGEPATH }}" /></td>
				<td valign="top">{{ images.FILENAME_REAL }}</td>
				<td valign="top">{{ images.IMAGE_USERNAME }}</td>
				<td valign="top">{{ images.WIDTH }} {{ lang('PIXEL') }} * {{ images.HEIGHT }} {{ lang('PIXEL') }}</td>
				<td valign="top">{{ images.SIZE }}</td>
				<td style="text-align: center;"><input type="checkbox" class="radio" name="ids[]" value="{{ images.ID }}" title="{{ images.ID }}"/></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<span style="float:left;display:block;">{{ lang('ACP_IMAGEUPLOAD_FOLDER_SIZE') }}{{ lang('COLON') }} {{ TOTAL_FILE_SIZE }}</span>
	<br />
	<fieldset class="quick">
		<p class="small"><a href="#" onclick="marklist('acp_imageupload', 'ids', true);">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('acp_imageupload', 'ids', false);">{{ lang('UNMARK_ALL') }}</a></p>
		<input class="button2" name="delmarked" value="{{ lang('DELETE_MARKED') }}" type="submit">
	</fieldset>
	<fieldset class="display-options">
		<span class="gensmall">{{ lang('SORT_BY') }}</span> {{ S_SELECT_SORT_KEY }} {{ S_SELECT_SORT_DIR }}&nbsp;
		<input class="button2" type="submit" name="sort" value="{{ lang('GO') }}" />
	</fieldset>
	{% endif %}
</form>

{% INCLUDE 'overall_footer.html' %}
