<!-- IF IMAGEUPLOAD_USE_UPLOAD and IMAGEUPLOAD_INDEX_ENABLE and UCP_IMAGEUPLOAD_INDEX and .images -->

<!-- IF IMAGEUPLOAD_IS_COLLAPSIBLE -->
	<a class="category<!-- IF S_IMAGEUPLOAD_HIDDEN --> hidden-category<!-- ENDIF --> imageupload-category"></a>
<!-- ENDIF -->

<div class="forabg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>{L_IMAGEUPLOAD_UPLOADED_IMAGES}</dt>
					<dd style="border: none">&nbsp;</dd>
				</dl>
				<!-- IF IMAGEUPLOAD_IS_COLLAPSIBLE -->
				<a href="{U_IMAGEUPLOAD_COLLAPSE_URL}"
					class="collapse-btn collapse-<!-- IF S_IMAGEUPLOAD_HIDDEN -->show<!-- ELSE -->hide<!-- ENDIF -->"
					data-hidden="{S_IMAGEUPLOAD_HIDDEN}"
					data-ajax="phpbb_collapse"
					data-overlay="true"
					title="{L_IMAGEUPLOAD_COLLAPSIBLE_CATEGORIES_TITLE}"></a>
				<!-- ENDIF -->
			</li>
		</ul>
		<ul class="forums collapsible" style="max-height:200px; overflow-x:hidden; overflow-y:auto;">
			<li class="row-items">
				<dl>
					<dt>
						<fieldset class="fields1">
							<p><!-- IF S_IMAGEUPLOAD_CHAT_INSERT -->{L_IMAGEUPLOAD_INDEXPAGE_CHAT}<!-- ELSE -->{L_IMAGEUPLOAD_INDEXPAGE}<!-- ENDIF --></p>
							<div class="panel upload_inner">
								<div class="inner">
								<!-- BEGIN images -->
									<div style="float:left; text-align: center;" class="upload_enabled">
										<div class="imageupload_index-preview">
											<img class="imageupload_index" id="{images.FILENAME_REAL}" src="{images.IMAGEPATH}" title="{images.FILENAME} - {images.WIDTH} {L_PIXEL} * {images.HEIGHT} {L_PIXEL} - {images.SIZE}"	/>
										</div>
										<div><!-- IF S_IMAGEUPLOAD_CHAT_INSERT --><i class="button" onclick="insert_text(' [img]{images.IMAGEPATH}[/img] ');" data-mchat-action="add">{images.FILENAME}</i><!-- ELSE -->{images.FILENAME}<!-- ENDIF --></div>
										<div id="myModal" class="modal">
											<span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
											<img class="modal-content" id="image_show_id">
											<div id="caption"></div>
										</div>
									</div>
									<script>
										var modal = document.getElementById('myModal');

										var img = document.getElementById('{images.FILENAME_REAL}');
										var modalImg = document.getElementById("image_show_id");
										var captionText = document.getElementById("caption");
										img.onclick = function(){
											modal.style.display = "block";
											modalImg.src = this.src;
											captionText.innerHTML = this.alt;
										}

										var span = document.getElementsByClassName("close")[0];

										span.onclick = function() {
											modal.style.display = "none";
										}
									</script>
								<!-- END images -->
								</div>
							</div>
						</fieldset>
					</dt>
					<dd style="border: none">&nbsp;</dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
<!-- ENDIF -->

